<div>
    <hr>
    <p>ID: {{ product._id_ }}</p>
    <p>{{ product.name }}</p> 
    <p>Price: $ {{ product.price }}</p>
    <p>Stock: {{ product.stock }} items</p>

    <app-button-delete-product 
        [product]="product"
        (productDeleter)="deleteProduct()">
    </app-button-delete-product>

    <app-button-add-stock 
        [product]="product"
        (stockAdder)="addStock()">
    </app-button-add-stock>

    <app-button-remove-stock 
        [product]="product"
        (stockRemover)="removeStock()">
    </app-button-remove-stock>
    <hr>
</div>
