* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
}

ul, li {
    list-style-type: none;
    padding:0;
}

.product {
    margin: 50px;
}

#dev-disclaimer {
    color: gray;
    width: 40vw;
    margin: auto;
    padding-top: 20px;
}

.remove-product-button,
.add-stock-button,
.remove-stock-button {
    width: fit-content; 
    height: 30px; 
    margin: 10px; 
    cursor: pointer;
}

#add-product button {
    margin-top: 20px;
}