<app-product-search-bar 
    (searchTermEmitter)=searchProduct($event)
    (resetSearchEmitter)="resetSearch()">
</app-product-search-bar>
<br>
<div id="form-add-product">
    <p id="dev-disclaimer">Disclaimer: items will disappear automatically after approximately 2 minutes.</p>
    <p>Create a new product:</p>
    <app-button-add-product
        (productAdder)="addProduct()">
    </app-button-add-product>
</div>

<br>

<div *ngFor="let product of productsToShow">
    <app-product
        [product]="product">
    </app-product>
</div>