* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-weight: bold;
}

ul, li {
    list-style-type: none;
    padding:0;
}

#dev-disclaimer {
    color: gray;
    width: 40vw;
    margin: auto;
    padding-top: 20px;
}

#add-product button {
    margin-top: 20px;
}

/* Footer always at the bottom */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
app-product-list {
    flex-grow: 1;
}
footer {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin: 5vh auto;
}
/* --------------------------- */